
* {
    box-sizing: border-box;
}

/* layout */

body {
    background: #1F2937; 
    color: white;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif,'Roboto', sans-serif;
    align-items: center;
}

.container {
     max-width: 775px;
     width: 90%;
     margin: 0 auto;
}

/* typography */

h1 {
    font-size: 2.5em;
    line-height: 2.5rem; 
}

h3 { 
    margin: -0.313rem auto 0.625rem;
    font-weight: 400;
}

.selector {
    margin: 2rem 0;
}

.selector span {
    display: block;
}

input {
    padding: .25rem 5.2rem;
    text-align: center;
    border-radius: 6px;
    margin: 0.25rem auto;
}
button {
    padding: 0.5rem 1.2rem; 
    background: #10B981;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    margin: 0.875rem 0 0.5rem 0; 
    font-size: 1em;
    transition-duration: 300ms;
    cursor: pointer;
}

button:hover, 
button:focus {
    transform: scale(1.06);
}

.lightning-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container-div {
     padding: 1rem 1.4rem;
 }

  .password {
     display: inline-block;
     min-width: 80%;
     word-wrap: break-word;
     background: #273549;
     color:#55F991;
     padding: 1.2rem 1.4rem;
     border-radius: 6px;
     margin: 1rem -2rem 1rem 3rem;
     text-align: center;
  }
  
  .password:empty:before {
      content: "#🧂#🧂#🧂#🧂#🧂#🧂#🧂#🧂"
  }
  
  /* responsiveness */
  
  @media (min-width: 626px) {
      
    h1 {
          margin-top: 5rem;
      }
      
    .grid-container {
          padding-top: 1.5em;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
          gap: 1.4rem;
    }
    
    .password {
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
      }
      
  }
  
    @media (max-width: 625px) { 
    button,
    input {
        width: 100%;
    }
 
    h1 {
        font-size: 3.5rem;
        line-height: 2.9rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }
}